@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}


/* mixin */
/* 共通部分 */
html {
  font-size: 62.5%;
}

body {
  font-size: 12px;
  line-height: 1.67;
}

/* 変数 */
.inner {
  width: 80%;
  margin: 0 auto;
  padding: 90px 0;
}
@media (max-width: 1024px) {
  .inner {
    width: 89.6vw;
    padding: 50px 0;
  }
}

.title {
  display: flex;
  font-size: 1.8rem;
  font-style: italic;
  align-items: center;
  justify-content: center;
  line-height: 1.1111111111;
  margin-bottom: 6rem;
}
@media (max-width: 1024px) {
  .title {
    margin-bottom: 4rem;
  }
}
.title::before {
  content: "";
  display: inline-block;
  border-top: 1px solid #191919;
  width: 2.5rem;
  margin-right: 1.75rem;
}
.title::after {
  content: "";
  display: inline-block;
  border-top: 1px solid #191919;
  width: 2.5rem;
  margin-left: 1.75rem;
}
.title--b {
  font-weight: bold;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 9999;
  top: 20px;
  color: #fff;
  padding: 0 20px;
}
header .hd-logo {
  font-size: 1.8rem;
  font-weight: bold;
}
header .ham {
  display: none;
}
@media (max-width: 1024px) {
  header .ham {
    display: flex;
    width: 2.5rem;
    height: 1.4rem;
    justify-content: space-between;
    flex-direction: column;
  }
  header .ham span {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}
@media (max-width: 1024px) {
  header .pc-navmenu {
    display: none;
  }
}
header .pc-navmenu ul {
  display: flex;
  gap: 55px;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

#first-v {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  position: relative;
}
#first-v .first-v__wrap {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 599px) {
  #first-v .first-v__wrap {
    top: 40.7796101949vh;
    transform: translate(-50%, 0);
  }
}
#first-v .first-v__wrap .catch {
  color: #fff;
  font-size: 2.7rem;
  line-height: 1.1481481481;
  margin-bottom: 13rem;
  font-weight: bold;
}
@media (max-width: 599px) {
  #first-v .first-v__wrap .catch {
    width: 25rem;
    margin-bottom: calc(36.5817091454vh - 2rem);
  }
}
#first-v .first-v__wrap .catch::after {
  content: "";
  display: block;
  width: 50%;
  border-top: 1px solid #fff;
  margin: 2rem auto 0;
}

.fv-btn, #entry .entry-wrap .entry-btn {
  border: none;
  background: linear-gradient(to right, #06beb6, #283c86);
  color: #fff;
  font-size: 1.5rem;
  width: 20rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 5px 0 #070707;
}
.fv-btn .btn-icon, #entry .entry-wrap .entry-btn .btn-icon {
  margin-right: 0.4rem;
}

#about {
  background-color: #f8f8f8;
}
#about .about-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 4.6rem;
}
@media (max-width: 1024px) {
  #about .about-wrap {
    row-gap: 2rem;
  }
}
#about .about-wrap .about-item {
  width: 21.9619326501vw;
  height: 31.2rem;
  background-color: #fff;
  padding: 3.85rem 5rem 0;
  text-align: center;
}
@media (max-width: 1024px) {
  #about .about-wrap .about-item {
    width: 42.6666666667vw;
    height: auto;
    padding: 2.6rem 1.3rem 1.2rem;
  }
}
#about .about-wrap .about-item .about-item__title {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1;
  margin-bottom: 1.8rem;
}
@media (max-width: 1024px) {
  #about .about-wrap .about-item .about-item__title {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }
}
#about .about-wrap .about-item .about-item__img {
  margin-bottom: 3.5rem;
  width: 100%;
  display: inline-block;
}
@media (max-width: 1024px) {
  #about .about-wrap .about-item .about-item__img {
    width: 8.1rem;
    height: 8.1rem;
    margin-bottom: 2.35rem;
  }
}
@media (max-width: 1024px) {
  #about .about-wrap .about-item .about-item__img img {
    width: 100%;
    height: 100%;
  }
}
#about .about-wrap .about-item .about-item__desc {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.6666666667;
}

#news {
  width: 100%;
  background-image: url("../img/bg2.jpg");
  background-size: cover;
}
#news .title {
  color: #fff;
}
#news .title::before, #news .title::after {
  border: 1px solid #fff;
}
#news .news-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  #news .news-wrap {
    flex-wrap: wrap;
    row-gap: 3rem;
  }
}
#news .news-wrap .news-item {
  width: 24.5973645681vw;
  height: 40rem;
}
@media (max-width: 1024px) {
  #news .news-wrap .news-item {
    width: 100%;
  }
}
#news .news-wrap .news-item .news__img {
  width: 100%;
  height: 207px;
}
#news .news-wrap .news-item .news__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#news .news-wrap .news-item .news-content {
  background-color: #fff;
  padding: 2rem 2rem 3.5rem;
}
#news .news-wrap .news-item .news-content .news-content__day {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.8rem;
}
#news .news-wrap .news-item .news-content .news-content__title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 2.4rem;
  letter-spacing: -0.2px;
}
#news .news-wrap .news-item .news-content .news-content__intro {
  font-size: 1.2rem;
  line-height: 1.6666666667;
}

#entry {
  height: 48.2rem;
  position: relative;
}
#entry .entry-wrap {
  position: absolute;
  width: 32rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#entry .entry-wrap .entry-copy {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5.5rem;
}
#entry .entry-wrap .entry-btn {
  width: 100%;
}

#contact {
  background-image: url("../img/bg3.png");
  background-size: cover;
  color: #fff;
  font-size: 1.5rem;
}
#contact .title {
  color: #fff;
}
#contact .title::before, #contact .title::after {
  border-color: #fff;
}
#contact .contact-caution {
  line-height: 1;
  margin-bottom: 2.5rem;
}
#contact .contact-caution .caution-red {
  color: red;
  margin-right: 0.8rem;
}
#contact .contact-box:not(:last-of-type) {
  margin-bottom: 3.3rem;
}
#contact .contact-box:nth-of-type(3) {
  position: relative;
}
#contact .contact-box:nth-of-type(3)::after {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../img/arrow.png");
  background-size: 100%;
  width: 1.5rem;
  height: 1.5rem;
  top: 60%;
  right: 1.5rem;
  pointer-events: none; /* これでクリックを背後の要素に渡す */
}
#contact .contact-box:nth-of-type(3) select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#contact .contact-text {
  line-height: 1;
  margin-bottom: 1rem;
}
#contact .contact-text .red {
  color: red;
  margin-left: 0.8rem;
}
#contact input,
#contact select,
#contact textarea {
  width: 100%;
  height: 5.5rem;
  padding: 2rem 1.5rem;
  border-radius: 0.7rem;
}
#contact textarea {
  height: 18.5rem;
}

.contact-wrap {
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .contact-wrap {
    width: 80%;
  }
}
@media (max-width: 599px) {
  .contact-wrap {
    width: 100%;
  }
}

footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
}
footer p {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.1666666667;
}/*# sourceMappingURL=main.css.map */